.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    gap: 0.2rem;
    color: white;
    font-size: larger;
    background-color:#AA0000 ;
    box-shadow:1px 4px 5px teal;
}
.header img{
    width: 30px;
    height: auto;
}